.App {
    text-align: center;
    color: rgb(7, 3, 3);
}

.buddyLogo { 
    width: 100%;
    max-width: 600px;
    height: auto;
}

.resp {
    width: 175px;
    height: auto;
}

.listings {
    display: flex;
    overflow-x: auto;
    align-items: center;
    background-image: url('./assets/movie-buddy-bg.png');
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
}

.listing {
    padding-left: 0;
    list-style: none;
    margin: 1em;
}

.listing .contain { 
    height: 370px;
    background-color: rgb(241, 239, 239);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.3s;
    padding: 5px;
    margin: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.body {
    border-bottom: 1px solid black;
    width: 100%;
}

.movieButton {
    margin-top: 10px;
}
/* jose additions below */
a {
    color: white;
}
button a:hover {
    color: white;
    text-decoration: none;
    font-size: 105%;
}
nav a {
    padding-left: 1rem;
    padding-right: 1rem;
}
nav a:hover {
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-top: white 1px solid;
    border-bottom: white 1px solid;  
}

.heroLogo {
    width: 100%;
    max-width: 900px;
    height: auto;
    margin-bottom: 5em;
}
.loginButton{
    font-size: 14pt;
    background:#056571;
    color: white;
    min-height: 50px;
    padding: 1em;
    border-radius: 5px;
    margin-bottom:5em;
}

.container-fluid {
    padding: 0;
}
html {
    padding: 0;
    margin: 0;
}
section {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.main-nav {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    position: fixed;
    width: 100%;
    bottom:0;
    color: white;
    background:#874c62; 
    margin: 0;
    padding:0;
}
nav a {
    font-size: 10pt;
    font-weight: 100;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
}
.nav-toggle {
    margin-left: 3em;
    /* float:right; */
    /* margin-right: 3em; */
    margin-right:auto;
}
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    padding-bottom: 128px;
}
.form {
    background: teal;
}
label {
    color: 
}
