.App {
	text-align: center;
	color: rgb(7, 3, 3);
}

.buddyLogo { 
    padding-top: 2em;
	width: 100%;
	max-width: 600px;
	height: auto;
}

.resp {
	width: 175px;
	height: auto;
}

.listings {
	display: flex;
	overflow-x: auto;
	align-items: center;
	background-image: url('./assets/movie-buddy-bg.png');
	background-position: center;
	background-size:cover;
	background-attachment: fixed;
}

.listing {
	padding-left: 0;
	list-style: none;
	margin: 1em;
	padding-bottom: 1em;
}

.listing .contain { 
	height: 370px;
	/* background-color: rgb(241, 239, 239); */
	color:white;
	display: flex;
	flex-direction: column;
	align-items: center;
	transition: 0.3s;
	padding: 1rem;
	margin: 10px;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.body {
	border-bottom: 1px solid white;
	padding: 1rem;
	width: 100%;
}
.body h4 {
	font-size: 10pt;
}
.movieButton {
	margin-top: 10px;
}
/* jose additions below */
.body h4 { 
	font-weight: bold;	
}
a {
	color: white;
}
button a:hover {
	color: white;
	text-decoration: none;
	font-size: 105%;
}
Link {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
nav a {
	padding-left: 1rem;
	padding-right: 1rem;
	padding-top: 1rem;
	padding-bottom: 1rem;
}
nav a:hover, Link:hover {
	text-decoration: none;
	color: white;
	border-top: white 1px solid;
	border-bottom: white 1px solid;  
}

.heroLogo {
	width: 100%;
	max-width: 900px;
	height: auto;
	margin-bottom: 5em;
}
.removeButton a {
    /* color: white; */
}
.addButton {
	height: 25px;
	margin-top: 1em;
	color: white;
	border-radius: 5px;
}
.loginButton{
	font-size: 14pt;
	color: white;
	min-height: 50px;
	padding: 1em;
	border-radius: 5px;
	margin-bottom:5em;
}

.container-fluid {
	padding: 0;
}
html {
	height: 100vh;
	padding: 0;
	margin: 0;
	display:flex;
	flex-direction: column;
	justify-content: center;
}
section {
	margin: 0;
	padding: 0;
	/* min-height: 100vh; */
}
.header {
	position: fixed;
	margin:auto;
	top: 0;
	right: 0;
	left: 0;
}
.main-nav {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	height: 50px;
	position: fixed;
	width: 100%;
	bottom:0;
	color: white;
	margin: 0;
	padding:0;
}
.listItem {
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.listItem a {
    font-size: 10pt;
}
.nav-expand {
    color: white;
    position: fixed;
    margin-bottom: 50px;
    left: 0;
    right: 0;
    bottom: 0;
}
nav a {
	font-size: 10pt;
	font-weight: 100;
}
nav ul {
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding: 0;
	margin: 0;
	align-items: center;
}
a:active {
	color: white;
}
.nav-toggle {
	margin-left: 3em;
	float:right;
	/* margin-right: 3em; */
	/* margin-right:auto; */
}
.main-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	/* height: 100vh; */
	/* padding-bottom: 150px; */
}
.form {
	/* background: teal; */
}
label {
	/* color: */ 
}
.movie-list {
	border-radius: 5px;
	padding-left: 1em;
	padding-right: 1em;
}
.movie-list h2 {
	color:white;
	margin: 1em;
}

.bg-teal {
	background:#056571;
}
.bg-eggplant {
	background:#874c62; 
}
.bg-caramel {
	background: #c98474
}
