html {
    padding: 0;
    margin: 0;
}
.container-fluid {
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(./assets/movie-buddy-bg.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    /* width: 100%; */
    /* padding-top: 3em; */
}


.movie-card {
    position: relative;
}

.front {
    position: absolute;
    z-index: 2;
    margin: auto;
}

.back {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 0;
    margin: auto;
}

.clicked {
    transform: rotateY(180deg);
    transition: 500ms;
}

.flipped {
    z-index: 2;
    transform: rotateY(180deg);
    box-shadow: 0 0 .8vw rgb(162, 252, 255),
    0 0 1.5vw rgb(115, 222, 226),
    0 0 3.1vw  rgb(53, 160, 163),
    0 0 5.5vw  rgb(30, 126, 129),
    0 0 11.7vw rgb(19, 94, 97),
    0 0 19.4vw rgb(17, 89, 92);
}